<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="15 seconds">


	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/optolink.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- weekly rollover and archiving -->
			<fileNamePattern>logs/optolink-%d{yyyy-ww}.log.zip</fileNamePattern>
			<!-- maximum number of archive files to keep -->
			<maxHistory>12</maxHistory>
		</rollingPolicy>
		<encoder>
			 <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %M - %msg%n</pattern>
		</encoder>
	</appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %M - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="de.myandres" level="INFO">
       <appender-ref ref="FILE" />
    </logger>
    
    <logger name="de.myandres" level="TRACE">
       <appender-ref ref="STDOUT" />
    </logger>
    
	<root level="WARN">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
    
    
</configuration> 